@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-image:
  url("../public/img/pattern.svg"),
  linear-gradient(to bottom right, #0284C7, #82c0cc 55%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
